{{yield}}

{{#if addNewBlogpost}}
  <h1>New Blogpost</h1>
    <div class="new-post-form">
      <form>
        <div class="form-group">
          <label for="author">Author</label>
          {{input class="form-control" value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          {{input class="form-control" value=date id="date"}}
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          {{input class="form-control" value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="tag">Tag</label>
          {{input class="form-control" value=tag id="tag"}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{input class="form-control" value=content id="content"}}
        </div>

        <div class="form-group">
          <label for="picture">Picture URL</label>
          {{input class="form-control" value=picture id="picture"}}
        </div>

        <span title="save post" {{action 'save'}} class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        <span title="cancel post" {{action 'blogpostFormHide'}} class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>

      </form>
    </div>
{{else}}
  <!-- <button class="btn btn-primary"{{action 'blogpostFormShow'}}>Write New Post!</button> -->
  <span title="Write New Post!" {{action 'blogpostFormShow' }} class="glyphicon glyphicon-file" aria-hidden="true"></span>

{{/if}}
