{{yield}}

<h1>{{blogpost.title}}</h1>

Written by <em>{{blogpost.author}} on the {{blogpost.date}}</em>
<br>
Attached tags: <em>{{blogpost.tag}}</em>.
<br>
<p class = "post-picture"><img src={{blogpost.picture}} alt={{blogpost.title}}></p>
<br>
<p>
  {{blogpost.content}}
</p>

<div class="jumbotron comment commentlist">
  all dem comments go here

  {{#each blogpost.comments as |comment|}}
    <div class="posted-comment">
      <h2>{{comment.username}}</h2>
      <h5><em>{{comment.date}}</em></h5>
      <p>{{comment.content}}</p>
      <span title="delete" {{action 'deleteComment' comment}} class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      {{edit-comment comment=comment editComment="editComment"}}
    </div>
  {{/each}}

  <!-- {{#each model.comments as |comment|}} -->
    <!-- {{comment comment=comment }} -->
    <!-- {{comment.content}}
  {{/each}} -->

</div>

<div class="jumbotron comment commentform">
  {{new-comment saveComment="saveComment" blogpost=blogpost}}
</div>
