{{yield}}

<h1>{{blogpost.title}}</h1>

Written by {{blogpost.author}} on the {{blogpost.date}}, this post deals with {{blogpost.tag}}.
Here's a picture, whatever
<p><img src={{blogpost.picture}} alt={{blogpost.title}}></p>
<br>
<p>
  {{blogpost.content}}
</p>
