{{yield}}


{{#if updateBlogpostForm}}
  <h4>Update {{blogpost.author}}'s {{blogpost.title}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=blogpost.author}}
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          {{input value=date id="date" placeholder=blogpost.date}}
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title" placeholder=blogpost.title}}
        </div>
        <div class="form-group">
          <label for="tag">Tag</label>
          {{input value=tag id="tag" placeholder=blogpost.tag}}
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          {{input value=content id="content" placeholder=blogpost.content}}
        </div>
        <div class="form-group">
          <label for="picture">Picture URL</label>
          {{input value=picture id="picture" placeholder=blogpost.picture}}
        </div>
        <span title="save update" {{action 'update' blogpost}} class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        <span title="cancel update" {{action 'updateBlogpostHide'}} class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>

      </form>
    </div>
{{else}}

    <span title="update post" {{action 'updateBlogpostForm' blogpost}} class="glyphicon glyphicon-pencil" aria-hidden="true"></span>

{{/if}}
