{{outlet}}

<div class="jumbotron">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h1>WELCOME TO OUR BLOG</h1>
        <div class="carousel-caption">
        </div>
      </div>

      {{#each model.comments as |comment|}}
        <div class="item">
          {{#link-to 'blogpost' comment.blogpost}}<h3><em>{{comment.content}}</em></h3><br><h5>in: {{comment.blogpost.title}}</h5>{{/link-to}}
          <div class="carousel-caption">
          </div>
        </div>
      {{/each}}

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="jumbotron new-post">
  {{new-blogpost save="save"}}
</div>

<div class="row">
  {{#each model.blogposts as |blogpost|}}
    {{blogpost-tile blogpost=blogpost update="update" destroyBlogpost="destroyBlogpost"}}

  {{/each}}
</div>
